<%- include('../header.ejs'); %> 

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Criar Produtos</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/admin">Administrativo</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

  <!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/img/login.jpg" alt="">
						<div class="hover">
							<h4>Criando Categorias</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti et ab ad ex quam doloremque saepe quia dicta dolor repellendus fugit incidunt, libero rerum facere illo illum aliquam, totam placeat?</p>
							<a class="primary-btn" href="/admin"">Voltar para área Administrativa</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Criar categoria</h3>
						<form class="row login_form" method="post">
							<div class="col-md-12 form-group">
								<label for="exampleInputEmail1">Nome da Categoria</label>
								<input type="text" class="form-control <% if(errors && errors.indexOf('name') >= 0) { %> is-invalid <% } %>" id="name" name="name"  placeholder="Nome do Produto" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" value="<%= form.name %> ">

									<div class="invalid-feedback">
										É necessário preencher o nome da categoria
									</div>
							</div>
							
							<div class="col-md-12 form-group">
								<label for="exampleInputEmail1">Descrição da Categoria</label>
								<textarea class="form-control <% if(errors && errors.indexOf('description') >= 0) { %> is-invalid <% } %>" name="description" id="description" cols="30" rows="10" onfocus= "this.placeholder = ''"onblur= "this.placeholder = 'Descrição'" value="<%=form.description %>"></textarea>
				
								<div class="invalid-feedback">
									É necessário preencher a descrição da categoria
								</div>
							</div>

							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Salvar Categoria</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->	
  <%- include('../../partials/footer'); %> 